<h3>ParCripto: {{this.par}}</h3>
<p><strong>Precio Apertura:</strong>{{this.openPrice}}</p>
<p><strong>Precio Cierre:</strong> {{this.closePrice}}</p>
<p><strong>Precio más alto:</strong> {{this.hPrice}}</p>
<p><strong>Precio más bajo:</strong> {{this.lPrice}}</p>
<p><strong>Precio promedio:</strong> {{this.averagePrice}}</p>
<p><strong>Volumen:</strong> {{this.volume}}</p>
<p><strong>Numero de Transacciones:</strong> {{this.NTransactions}}</p>
<p><strong>Marca de Tiempo:</strong> {{this.markTime}}</p>

